.header,
footer {
  background: #355c7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.home-grid,
.about-body,
.portfolio-body {
  background: #355c7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.banner {
  width: 80%;
  margin: auto;
}

.banner,
h1,
h2,
h3,
h5 {
  text-align: center;
  color: black;
}

Footer {
  text-align: center;
}

.about-body {
  width: 100%;
  padding-top: 3em;
  padding-bottom: 3em;
  margin-bottom: 4em;
  height: 100%;
}

.about-grid {
  text-align: center;
  justify-content: center;
  max-width: 60%;
  height: auto;
  color: black;
  border: black 2px solid;
  margin-top: 20px;
  padding-top: 0px;
}

.about-grid p {
  font-size: 20px;
  padding-top: 20px;
  font-family: "Times New Roman", Times, serif;
  word-spacing: 2px;
  color: black;
}

.social-media {
  justify-content: space-between;
  width: 20%;
  display: flex;
  margin: auto;
  padding-top: 10px;
}

.social-media i {
  color: black;
  font-size: 35px;
}

.portfolio-body {
  width: 100%;
  padding-top: 3em;
  padding-bottom: 3em;
  margin-bottom: 4em;
  height: 100%;
}

.portfolio-grid {
  width: 70%;
  justify-content: space-between;
}
